$font_base_color: #3e3e3e;
$form_border_color: #cdcdcd;
$form_border_color_focused: tomato;

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #3e3e3e;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.6rem;
  color: $font_base_color;
}

input {
  border: 1px solid $form_border_color;
  outline: none;
  transition: all 0.2s ease;
}

input:focus {
  border: 1px solid $form_border_color_focused;
  transition: all 0.2s ease;
}
