.board {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;

  .cell {
    width: 80px;
    height: 80px;
    padding: 0;

    &.available {
      border: 1px solid #555;
    }

    .tile {
      width: 100%;
      height: 100%;
      vertical-align: bottom;
    }
  }
}

.field {
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;

  .hand {
    width: 60px;
    height: 60px;
    margin: 0.6em;

    &.pickable {
      transition: 0.08s;
      transition-timing-function: ease-in-out;

      &.with-animation:hover {
        width: 80px;
        height: 80px;
      }
    }

    &.picked {
      width: 80px;
      height: 80px;

      .tile {
        border-width: 2.2px;
      }
    }

    .tile {
      border: 1px solid #555;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: 0.14s;
    }
  }
}
