.field {
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;

  .tile {
    width: 60px;
    height: 60px;
    margin: 0.6em;
    object-fit: contain;

    img {
      width: 100%;
      height: 100%;
      border: 1px solid #555;
      transition: transform 0.12s;
    }

    &.pickable {
      transition: 0.08s;
      transition-timing-function: ease-in-out;

      &:hover {
        width: 80px;
        height: 80px;
      }
    }

    &.picked {
      width: 80px;
      height: 80px;

      img {
        border-width: 2.2px;
      }
    }
  }
}
